## Question 1 (Easy)

**Title:** Print 1 to 10

### Problem Statement:
Print numbers from 1 to 10 using a for loop.

### Approach:
Use `range(1, 11)` inside a `for` loop and print each value.

In [1]:
# write your code here
for i in range(1, 11):
  print(i)

1
2
3
4
5
6
7
8
9
10

## Question 2 (Easy)

**Title:** Sum of First N Numbers

### Problem Statement:
Take an integer N as input and find the sum of numbers from 1 to N.

### Approach:
Initialize sum = 0, loop from 1 to N, add each value to sum.

In [2]:
# write your code here
n = int(input())
sum = 0
for i in range(1, n + 1):
  sum = sum + i
print(sum)

3
6

## Question 3 (Easy)

**Title:** Even Numbers from 1 to 50

### Problem Statement:
Print all even numbers between 1 and 50.

### Approach:
Loop from 1 to 50 and check `i % 2 == 0`.

In [6]:
# write your code here

for i in range(1, 51):
  if i % 2 == 0:
    print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

## Question 4 (Easy)

**Title:** Count Multiples of 3

### Problem Statement:
Take N as input and count how many numbers between 1 and N are divisible by 3.

### Approach:
Use a counter variable and increment when `i % 3 == 0`.

In [4]:
# write your code here
n = int(input())
count = 0
for i in range(1, n + 1):
  if i % 3 == 0:
    count +=1

print(count)

10
3

## Question 5 (Easy)

**Title:** Multiplication Table

### Problem Statement:
Take a number as input and print its multiplication table from 1 to 10.

### Approach:
Loop from 1 to 10 and multiply with the input number.

In [5]:
# write your code here
n = int(input())
for i in range(1, 11):
  print(f"{n} X {i} = {n*i}")

5
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50

## Question 6 (Easy)

**Title:** Factorial of a Number

### Problem Statement:
Take a number N as input and find its factorial.

### Approach:
Initialize fact = 1 and multiply values from 1 to N.

In [7]:
# write your code here
n=int(input())

fact=1

for i in range(1, n + 1) :
  fact = fact * i

print(fact)

5
120

## Question 7 (Easy)

**Title:** Running Sum

### Problem Statement:
Take N as input and print the running sum from 1 to N.

### Approach:
Use a sum variable and update it in each iteration.

In [8]:
# write your code here

n = int(input())

sum = 0
for i in range(1, n + 1) :
  sum = sum + i

print(sum)

5
15

## Question 8 (Easy)

**Title:** Add 5 to Each Number

### Problem Statement:
Take N as input and add 5 to each number from 1 to N and print the result.

### Approach:
Loop from 1 to N and use shorthand `value += 5`.

In [11]:
# write your code here
n = int(input())

value = 0
for i in range(1, n + 1) :
  value += 5

print(value)

6
30

## Question 9 (Easy)

**Title:** Count Even and Odd Numbers

### Problem Statement:
Take N as input and count how many even and odd numbers are there between 1 and N.

### Approach:
Use two counters and check with modulo operator.

In [14]:
# write your code here
num = int(input(""))
count_even = 0
count_odd = 0
for i in range(1,num+1) :
  if i % 2 == 0:
    count_even += 1
  else :
    count_odd += 1


print("Even count = ",count_even)
print("Odd count = ",count_odd)

6
Even count =  3
Odd count =  3

## Question 10 (Easy)

**Title:** Squares from 1 to N

### Problem Statement:
Take N as input and print the square of each number from 1 to N.

### Approach:
Use `i * i` inside the loop.

In [13]:
# write your code here
n = int(input())

for i in range(1, n + 1) :
  print(i * i)

3
1
4
9

## Question 11 (Medium)

**Title:** Sum of Even and Odd Separately

### Problem Statement:
Take N as input and find the sum of all even numbers and all odd numbers between 1 and N.

### Approach:
Use two sum variables and check each number with modulo.

In [ ]:
# write your code here
num = int(input("Enter a number :"))
Even_sum = 0
Odd_sum = 0
for i in range(1,num+1) :
  if i % 2 == 0:
    Even_sum += i
  else :
    Odd_sum +=i


print("Even sum = ",Even_sum)
print("Odd sum = ",Odd_sum)

## Question 12 (Medium)

**Title:** Divisible by 3 and 5

### Problem Statement:
Take N as input and count how many numbers between 1 and N are divisible by both 3 and 5.

### Approach:
Use logical AND condition inside the loop.

In [17]:
# write your code here
num = int(input("Enter a number :"))
count = 0
for i in range(1,num+1) :
  if i % 3 == 0 and i % 5 == 0 :
    count += 1

print(count)

Enter a number :100
6

## Question 13 (Medium)

**Title:** Skip Multiples of 4

### Problem Statement:
Take N as input and print numbers from 1 to N but skip multiples of 4.

### Approach:
Use `continue` when the number is divisible by 4.

In [20]:
# write your code here
n = int(input())

for i in range(1, n + 1):
  if i % 4 == 0:
    i += 1
    continue
  print(i)

10
1
2
3
5
6
7
9
10

## Question 14 (Medium)

**Title:** Find the Largest Number

### Problem Statement:
Take N as input and find the largest number between 1 and N using a loop.

### Approach:
Assume the first value as largest and update using `if`.

In [21]:
# write your code here
N = int(input("Enter N: "))

largest = 1

for i in range(1, N + 1):
    if i > largest:
        largest = i

print("Largest number is:", largest)

Enter N: 10
Largest number is: 10

## Question 15 (Medium)

**Title:** Power of a Number

### Problem Statement:
Take two numbers `a` and `b` as input and calculate `a` raised to the power `b` using a for loop.

### Approach:
Initialize result = 1 and multiply it `b` times.

In [22]:
# write your code here
a = int(input())
b = int(input())
result = 1
for i in range(1, b + 1) :
  result = result * a

print(result)

2
3
8

## Question 16 (Hard)

**Title:** Check Prime Number

### Problem Statement:
Take a number as input and check whether it is prime or not.

### Approach:
Loop from 2 to N-1 and use `break` if divisible.

In [31]:
# write your code here
n = int(input())
for i in range(2, n - 1):
  if n % i == 0:
    print("Not a prime number.")
    break
else :
  print("Prime number.")

8
Not a prime number.

## Question 17 (Hard)

**Title:** Prime Numbers Between 1 and N

### Problem Statement:
Take N as input and print all prime numbers between 1 and N.

### Approach:
Use nested loops and a flag variable for prime checking.

In [34]:
# write your code here
n = int(input())

for i in range(2, n + 1) :
  flag = False
  for j in range(2, i):
    if i % j == 0 :
      flag = True
      break
  if flag == False:
    print(i)

10
2
3
5
7

## Question 18 (Hard)

**Title:** First Number Divisible by 7 and 11

### Problem Statement:
Take N as input and find the first number between 1 and N that is divisible by both 7 and 11. Stop after finding it.

### Approach:
Use logical AND and stop the loop using `break`.

In [40]:
# write your code here
n = int(input())
for i in range(1, n + 1):
  if i % 7 == 0 and i % 11 == 0 :
    print(i)
    break

100
77

## Question 19 (Hard)

**Title:** Number Pattern

### Problem Statement:
Take N as input and print a right-angled number pattern using nested loops.

Example:
1
12
123

### Approach:
Use an outer loop for rows and an inner loop for printing numbers.

In [43]:
# write your code here

var=int(input())

for i in range(1, var + 1):
  for j in range(1, i + 1):
    print(j, end="")
  print()

6
1
12
123
1234
12345
123456