#  Python Sets â€“ Practice Questions

### Q1
Create a set from the list below and print only the unique values.

```python
data = [10, 20, 20, 30, 40, 40]
```

In [1]:
# write your code here
data = [10, 20, 20, 30, 40, 40]
se = set(data)

print(se)

{40, 10, 20, 30}

### Q2
What will be the output? Explain why.

```python
s = {1, 2, 3, 3, 2}
print(s)
```

In [2]:
# write your code here
s = {1, 2, 3, 3, 2}
print(s)
# the output will print of s is {1,2,3}
# because set contains only the unique values it remove duplicate automatically

{1, 2, 3}

### Q3
Create an empty set and add numbers from 1 to 5 using a loop.

In [3]:
# write your code here

se = set()
for i in range(1, 6):
    se.add(i)

print(se)

{1, 2, 3, 4, 5}

### Q4
Why does this code give an error? Fix it.

```python
s = {}
s.add(10)
```

In [4]:
# write your code here
s = {}
s = set(s)
s.add(10)
print(s)

{10}

### Q5
Given:
```python
A = {2, 4, 6, 8}
B = {4, 8, 12}
```
Find Union, Intersection, A-B

In [5]:
# write your code here
A = {2, 4, 6, 8}
B = {4, 8, 12}
print(A.intersection(B))

{8, 4}

### Q6
Check whether 15 exists in the set {5, 10, 15, 20}.

In [6]:
# write your code here
se = {5, 10, 15, 20}
if 15 in se :
  print("Exists")
else :
  print("Not Exists")

Exists

### Q7
Remove element 30 safely from {10, 20, 30, 40}.

In [7]:
# write your code here
se = {10, 20, 30, 40}
if 30 in se :
  se.remove(30)
  print("Safely Removed")
else :
  print("30 is Not Exists")
print(se)

Safely Removed
{40, 10, 20}

### Q8
Count unique elements in:
```python
nums = [1, 2, 2, 3, 4, 4, 5]
```

In [8]:
# write your code here
nums = [1, 2, 2, 3, 4, 4, 5]
se = set(nums)
print("Unique elements in nums is ", len(se))

Unique elements in nums is  5

### Q9
What will be the output?
```python
s = {10, 20, 30}
s.add(20)
print(len(s))
```

In [9]:

# output is 3 because 20 is already present in s and s is set and set do not conatains duplicate values

### Q10
Can a set contain a list? Why?
```python
s = {1, 2, [3, 4]}
```

In [10]:

# No, a set cannot contain a list.
# because List is mutable

### Q11
Convert {100, 200, 300} into list and print first element.

In [11]:
# write your code here
se = {100, 200, 300}
li = list(se)
print(li[0])

200

### Q12
Students in two classes:
```python
class_A = {'Aman','Riya','Karan','Neha'}
class_B = {'Neha','Simran','Aman'}
```

In [12]:
# write your code here
class_A = {'Aman','Riya','Karan','Neha'}
class_B = {'Neha','Simran','Aman'}
total = class_A.union(class_B)
print("Total number of students :",len(total))

Total number of students : 5

### Q13
Find unique characters in:
```python
text = 'programming'
```

In [13]:
# write your code here
text = 'programming'
se = set(text)
print(f"Unique Character in {text} :",len(se))

Unique Character in programming : 8

### Q14
Remove duplicate words from:
```python
sentence = 'python is easy and python is powerful'
```

In [14]:
# write your code here
sentence = 'python is easy and python is powerful'
li = list(sentence.split())

se = set(li)

print(se)

{'python', 'and', 'easy', 'is', 'powerful'}

### Q15
What is the output?
```python
s = set('hello')
print(s)
```

In [15]:

# output will come {'h', 'e', 'l', 'o'}