# Python Practice: Tuple and Set (Practice Only)

This notebook contains **practice questions only** on **Tuples** and **Sets**.

Instructions:
- Questions are written in **text cells**
- Write your solution in the **code cell below each question**
- Do NOT use any advanced concepts

##  Tuple Practice Questions

### Question 1
Create a tuple of 5 integers and print it.

In [1]:
# write your answer here
myTuple = 2,5,4,8,3
print(myTuple)

(2, 5, 4, 8, 3)

### Question 2
Create a tuple with different data types (int, float, string, boolean) and print each element separately.

In [2]:
# write your answer here
tuple1 = (25, 13.4, "abc", True)
print(tuple1[0])
print(tuple1[1])
print(tuple1[2])
print(tuple1[3])

25
13.4
abc
True

### Question 3
Find the length of a tuple containing names of 4 students.

In [3]:
# write your answer here
tuple1 = ("Aman","Bablu","Charle","Dev")
print(len(tuple1))

4

### Question 4
Access and print the last element of a tuple.

In [4]:
# write your answer here
tuple1 = ("Aman","Bablu","Charle","Dev")
print(tuple1[-1])

Dev

### Question 5
Check whether an element exists in a tuple or not.

In [5]:
# write your answer here
tuple1 = ("Aman","Bablu","Charle","Dev")

if "Dev" in tuple1 :
  print("Exists")
else :
  print("Not Exists")

Exists

### Question 6
Convert a tuple into a list.

In [6]:
# write your answer here
tuple1 = (25, 13.4, "abc", True)
mylist = list(tuple1)
print(mylist,type(mylist))

[25, 13.4, 'abc', True] <class 'list'>

### Question 7
Convert a list into a tuple.

In [7]:
# write your answer here
mylist = [25, 13.4, "abc", True]
mytuple = tuple(mylist)
print(mytuple,type(mytuple))

(25, 13.4, 'abc', True) <class 'tuple'>

### Question 8
Create a tuple with repeated values and count how many times an element appears.

In [8]:
# write your answer here
tuple1 = ("abc", 34, True, 40, "male", 40)
print(tuple1.count(40))

2

### Question 9
Find the index of an element in a tuple.

In [14]:
# write your answer here
tuple1 = ("abc", 34, True, 40, "male")
print(tuple1.index(40))

3

### Question 10
Demonstrate that tuples are immutable (cannot be changed).

In [10]:
# write your answer here
tuple1 = ("abc", 34, True, 40, "male")
tuple[0] = "def"
print(tuple1)

TypeError: 'type' object does not support item assignment